.round{
    border-radius: 2rem;
}
.bld{
    font-weight: 900;
    font-size: 3.2rem;
}
.bld2{
    font-weight: 700;
    font-size: 1.4rem;
}
.bld3{
    font-weight: 700;
    font-size: 2.4rem;
}
.btnclr{
    background-color: #F53838;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.201);
    transition: all 0.3s ease 0s;
}
.brdr{
  border-color: #F53838!important;
}
.btn-shdw{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.201);
}
.hldr{
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.10);
    border-radius: 1rem;
}

/* -----------------  Section - 8 ----------------- */

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 1;
    transition: all 0.2s;
  }
  .ylw-back{
    background-color: #8E6B0F!important;
    color: white!important;
  }
  .text-undrline{
    text-decoration: underline!important;
  }
  
  /* -----------------  Hover Effects on Card -----------------  */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: .8;
    }
  }
  
  .rmv_dts{
      list-style: none;
      padding: 0;
      list-style-type: none; 
  }